@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/PlayfairDisplay/PlayfairDisplay.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/Jetbrains/JetBrainsMono.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/Jetbrains/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Light";
  src: url("/fonts/Nunito/Nunito-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Light";
  src: url("/fonts/Nunito/Nunito-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Nunito ExtraLight";
  src: url("/fonts/Nunito/Nunito-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Nunito ExtraLight";
  src: url("/fonts/Nunito/Nunito-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Nunito SemiBold";
  src: url("/fonts/Nunito/Nunito-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito SemiBold";
  src: url("/fonts/Nunito/Nunito-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Black";
  src: url("/fonts/Nunito/Nunito-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Black";
  src: url("/fonts/Nunito/Nunito-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Nunito ExtraBold";
  src: url("/fonts/Nunito/Nunito-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nunito ExtraBold";
  src: url("/fonts/Nunito/Nunito-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/Figtree-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/Figtree-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Figtree Light";
  src: url("/fonts/Figtree/Figtree-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Figtree Light";
  src: url("/fonts/Figtree/Figtree-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Figtree Medium";
  src: url("/fonts/Figtree/Figtree-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Figtree Medium";
  src: url("/fonts/Figtree/Figtree-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Figtree SemiBold";
  src: url("/fonts/Figtree/Figtree-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Figtree SemiBold";
  src: url("/fonts/Figtree/Figtree-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/Figtree-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/Figtree-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Figtree Black";
  src: url("/fonts/Figtree/Figtree-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Figtree Black";
  src: url("/fonts/Figtree/Figtree-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Figtree ExtraBold";
  src: url("/fonts/Figtree/Figtree-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Figtree ExtraBold";
  src: url("/fonts/Figtree/Figtree-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}